Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik

Decrease num_tabs for test_add_remove_tab_benchmark
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Fixes issue #4229
  qutebrowser/browser/qutescheme.py
  qutebrowser/config/config.py
Owners: none

Fixes issue #1248
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Fix is_blocked signature in HostBlockerStub
  tests/helpers/stubs.py
Owners: none

Add 'frozen' lxml to requirements file
  requirements.txt
Owners: none

Properly fixes issue #1248 (second try!)
  qutebrowser/completion/completionwidget.py
  qutebrowser/config/configdata.yml
Owners: @rcorre, @mschilli87

Add example script to add new release to qutebrowser.appdata.xml
  scripts/update_version.py
Owners: none

Avoid showing widgets in tests if unneeded
  tests/helpers/fixtures.py
  tests/unit/browser/test_caret.py
  tests/unit/mainwindow/statusbar/test_progress.py
Owners: none

fixed 1 lint error
  qutebrowser/completion/completionwidget.py
Owners: @rcorre

Sort keys in configtypes.Dict.to_str
  qutebrowser/config/configtypes.py
  tests/unit/completion/test_models.py
  tests/unit/config/test_configtypes.py
Owners: @rcorre

Fix lint
  tests/helpers/fixtures.py
Owners: none

tests: Apply libGL workaround
  tests/conftest.py
Owners: none

Add bumpversion config
  .bumpversion.cfg
Owners: none

Move update_version.py script to scripts/dev
  scripts/dev/update_version.py
Owners: none

Add bumpversion to requirements file
  requirements.txt
Owners: none

Pull __version__ from .bumpversion.cfg INI file
  qutebrowser/__init__.py
Owners: none

Bump version: 1.5.0 → 1.5.1
  .bumpversion.cfg
  qutebrowser/__init__.py
Owners: none

Bump version: 1.5.0 → 1.5.1
  qutebrowser/__init__.py
Owners: none

Parse __version__ from/to qutebrowser/__init__.py directly
  .bumpversion.cfg
  qutebrowser/__init__.py
Owners: none

Add bump_version to update_version.py and include new release block in appdata.xml
  scripts/dev/update_version.py
Owners: none

Remove leftover __version__ line from qutebrowser/__init__.py
  qutebrowser/__init__.py
Owners: none

fixes issue #1248 (third time lucky?)
  qutebrowser/completion/completionwidget.py
Owners: @rcorre

Lint Fix (Again)
  qutebrowser/completion/completionwidget.py
Owners: @rcorre

Expose fake statusbar for test_elided_text
  tests/unit/mainwindow/statusbar/test_textbase.py
Owners: none

Add --profile-test to run_profile.py
  scripts/dev/run_profile.py
Owners: none

NSIS: don't try to run the uninstaller if missing
  misc/nsis/install.nsh
Owners: none

run_profile: Add --profile-tool tuna
  scripts/dev/run_profile.py
Owners: none

Cache config accesses in minimumTabSizeHint
  qutebrowser/mainwindow/tabwidget.py
Owners: none

New config: More powerful :config- commands: add #4283
  qutebrowser/config/configcommands.py
  tests/unit/config/test_configcommands.py
Owners: none

New config: More powerful :config- commands: add #4283
  qutebrowser/config/configcommands.py
Owners: none

Always show icons for pinned tabs
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Add bumpversion tag signing via bump2version feature
  .bumpversion.cfg
Owners: none

Add update_version.py to build_release.py pipeline and update command-line args
  scripts/dev/build_release.py
  scripts/dev/update_version.py
Owners: none

Update contributing.asciidoc (needs a revision!)
  doc/contributing.asciidoc
Owners: none

Make __version_info__ a list of int version parts [<major>, <minor>, <patch>]
  qutebrowser/__init__.py
Owners: none

Remove bumpversion from requirements file - dev package only!
  requirements.txt
Owners: none

Speculative fix for test_caret teardown issues
  tests/helpers/fixtures.py
Owners: none

Move appdata_path to qutebrowser.__init__.py and improve code style
  qutebrowser/__init__.py
  scripts/dev/build_release.py
  scripts/dev/update_version.py
Owners: none

Remove redundant newline from .bumpversion.cfg
  .bumpversion.cfg
Owners: none

Uses visualRect() instead of hard coded values
  qutebrowser/completion/completionwidget.py
Owners: @rcorre
