Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Add support for more values in QtColor config type.
  qutebrowser/config/configtypes.py
  tests/unit/config/test_configtypes.py
Owners: none

Change colors.completion.match.fg to QtColor.
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Add --config cli option for overwriting the path to config.py
  qutebrowser/config/configinit.py
  qutebrowser/qutebrowser.py
Owners: none

Add spaces to make linter happy
  qutebrowser/config/configinit.py
Owners: none

Handle None values in lessThan
  doc/changelog.asciidoc
  qutebrowser/completion/models/listcategory.py
Owners: @rcorre

Release v1.5.0
  doc/changelog.asciidoc
  qutebrowser/__init__.py
Owners: none

Update changelog for v1.5.0
  doc/changelog.asciidoc
Owners: none

Upgrade PyQt for v1.5.0
  doc/changelog.asciidoc
  misc/requirements/requirements-pyqt.txt
Owners: none

Update release checklist for Python 3.7
  doc/contributing.asciidoc
Owners: none

Add coverage comment
  qutebrowser/completion/models/listcategory.py
Owners: @rcorre

Rename --config to --config-py
  qutebrowser/config/configinit.py
  qutebrowser/qutebrowser.py
Owners: none

Add an empty --config flag to fake_args in test_configinit
  tests/unit/config/test_configinit.py
Owners: none

Fix a6d8cd958683692a6e93cb9a3bc1bc58a2e349d8
  tests/unit/config/test_configinit.py
Owners: none

webengine inspector inside the same tab - proof-of-concept
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

try to protect width of main window when inspector is open and window is resized to a small width, generalize indices of splitter so we can configure the side of the inspector in the future
  qutebrowser/browser/webengine/split_inspector.py
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

keep size of inspector on window resize
  qutebrowser/browser/webengine/split_inspector.py
Owners: none

make inspect in context menu work
  qutebrowser/browser/webengine/webview.py
Owners: none

make :inspector work
  qutebrowser/browser/commands.py
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

put code for inspector inside tab into new class so we can define its behaviour in one place
  qutebrowser/browser/commands.py
  qutebrowser/browser/webengine/split_inspector.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webengine/webview.py
Owners: none

Also update PyQt5 in tox.ini
  tox.ini
Owners: none

Fix up configtypes based on code review.
  qutebrowser/config/configtypes.py
  tests/unit/config/test_configtypes.py
Owners: none

keep manually set inspector width and try to keep that on resize
  qutebrowser/browser/webengine/split_inspector.py
Owners: none

Fix pylint/flake8 errors in configtypes.
  qutebrowser/config/configtypes.py
  tests/unit/config/test_configtypes.py
Owners: none

First attempt at writing a test for the new --config-py option
  tests/unit/config/test_configinit.py
Owners: none

Clarify changelog
  doc/changelog.asciidoc
Owners: none

Show/hide TabBar and not TabWidget with many tabs
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

pyinstaller: Re-add pdf.js bundling
  misc/qutebrowser.spec
Owners: none

Upgrade to pytest-qt 3.2.1
  misc/requirements/requirements-tests.txt
Owners: none

Use a proper data dir for PDF.js
  qutebrowser/browser/pdfjs.py
  qutebrowser/html/no_pdfjs.html
  tests/unit/browser/test_pdfjs.py
Owners: none

Log OSError for PDF.js more explicitly
  qutebrowser/browser/pdfjs.py
Owners: none

Don't log stacktraces for qute:// errors
  qutebrowser/browser/webengine/webenginequtescheme.py
  qutebrowser/browser/webkit/network/webkitqutescheme.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Upgrade PyQt and pytest-qt for v1.5.0
  doc/changelog.asciidoc
  misc/requirements/requirements-pyqt.txt
  misc/requirements/requirements-tests.txt
  tox.ini
Owners: none

Log OSError for PDF.js more explicitly
  qutebrowser/browser/pdfjs.py
Owners: none

Show/hide TabBar and not TabWidget with many tabs
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Don't log stacktraces for qute:// errors
  qutebrowser/browser/webengine/webenginequtescheme.py
  qutebrowser/browser/webkit/network/webkitqutescheme.py
Owners: none

Add coverage comment
  qutebrowser/completion/models/listcategory.py
Owners: @rcorre

Use a proper data dir for PDF.js
  qutebrowser/browser/pdfjs.py
  qutebrowser/html/no_pdfjs.html
  tests/unit/browser/test_pdfjs.py
Owners: none

pyinstaller: Re-add pdf.js bundling
  misc/qutebrowser.spec
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
