Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Remove unused imports in test_completiondelegate.
  tests/unit/completion/test_completiondelegate.py
Owners: @rcorre

Wait for follow_selected_done
  tests/unit/browser/test_caret.py
Owners: none

Add gitattributes for changelog
  .gitattributes
Owners: none

Changed is_whitelisted_host to use URL Patterns fixes #4179
  qutebrowser/browser/adblock.py
Owners: none

Added extra comment for clarity
  qutebrowser/browser/adblock.py
Owners: none

Fixed is_whitelisted_host to use QUrl fixes #4179
  qutebrowser/browser/adblock.py
Owners: none

Removed unused import statement
  qutebrowser/browser/adblock.py
Owners: none

Try more possible asciidoc paths for qute://help fallback
  doc/changelog.asciidoc
  qutebrowser/browser/qutescheme.py
Owners: none

Only Qt 5.9
  .travis.yml
Owners: none

No faulthandler
  misc/requirements/requirements-tests.txt
Owners: none

only unit
  scripts/dev/ci/travis_run.sh
Owners: none

Split up _asciidoc_fallback_path from qute_help
  qutebrowser/browser/qutescheme.py
Owners: none

No faulthandler timeout
  pytest.ini
Owners: none

install gdb
  .travis.yml
Owners: none

Try harder to get trace
  scripts/dev/ci/travis_backtrace.sh
  scripts/dev/ci/travis_run.sh
Owners: none

Disable GPU to work around crash on Travis
  tests/conftest.py
Owners: none

Remove check
  tests/conftest.py
Owners: none

Try different workaround
  scripts/dev/ci/travis_run.sh
  tests/conftest.py
Owners: none

Add settings for process models
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/browser/commands.py
  qutebrowser/config/configdata.yml
  qutebrowser/config/configinit.py
  tests/unit/config/test_configinit.py
Owners: @mschilli87

Changed configdata to use QUrl for adblock whitelisting
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Changed QUrl to QUrlPattern
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Changed QUrlPattern to UrlPattern
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Add a setting for Chromium's low-end device mode
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
  qutebrowser/config/configinit.py
  tests/unit/config/test_configinit.py
Owners: @mschilli87

Add webrtc_ip_handling_policy setting
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/browser/webengine/webenginesettings.py
  qutebrowser/config/configdata.yml
  qutebrowser/config/configfiles.py
  qutebrowser/config/configinit.py
  tests/unit/config/test_configfiles.py
  tests/unit/config/test_configinit.py
Owners: @mschilli87

Fixed passing UrlPattern Object into itself
  qutebrowser/browser/adblock.py
Owners: none

Reworded configdata to fit with previously used descriptions
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Removed unused variable and updated url function call
  qutebrowser/browser/adblock.py
Owners: none

Make content.headers.referer work on QtWebEngine
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
  qutebrowser/config/configinit.py
  tests/unit/config/test_configinit.py
Owners: @mschilli87

Refactor configinit.qt_args
  qutebrowser/config/configinit.py
Owners: none

Update setuptools from 40.2.0 to 40.3.0
  misc/requirements/requirements-pip.txt
Owners: none

Update pyinstaller from 3.3.1 to 3.4
  misc/requirements/requirements-pyinstaller.txt
Owners: none

Update hypothesis from 3.70.3 to 3.71.8
  misc/requirements/requirements-tests.txt
Owners: none

Update pytest from 3.6.4 to 3.8.0
  misc/requirements/requirements-tests.txt
Owners: none

Update pytest-cov from 2.5.1 to 2.6.0
  misc/requirements/requirements-tests.txt
Owners: none

Fix lint
  qutebrowser/browser/qutescheme.py
  qutebrowser/config/configinit.py
Owners: none

Work around Travis CI crash
  scripts/dev/ci/travis_run.sh
  tox.ini
Owners: none

Clean up _open_special_pages()
  qutebrowser/app.py
Owners: none

Delete old pylint-master requirement files
  misc/requirements/requirements-pylint-master.txt
  misc/requirements/requirements-pylint-master.txt-raw
Owners: none

Downgrade and pin pytest
  misc/requirements/requirements-tests.txt
  misc/requirements/requirements-tests.txt-raw
Owners: none

Upgrade tox
  misc/requirements/requirements-tox.txt
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
