Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Add releases to qutebrowser.appdata.xml
  misc/qutebrowser.appdata.xml
Owners: none

Fix crash when closing tab during a search
  qutebrowser/browser/webengine/webenginetab.py
  tests/end2end/features/search.feature
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Fix crash when closing tab during a search
  qutebrowser/browser/webengine/webenginetab.py
  tests/end2end/features/search.feature
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Improve :config-add-(list|dict) tests
  tests/unit/config/test_configcommands.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/commands.asciidoc
  qutebrowser/completion/models/configmodel.py
  qutebrowser/config/configcommands.py
Owners: @rcorre

Move appdata_path back to scripts/dev/update_version.py
  qutebrowser/__init__.py
  scripts/dev/update_version.py
Owners: none

Remove lxml from requirements file
  requirements.txt
Owners: none

Remove misleading 'version tag' comment from scripts/dev/build_release.py
  scripts/dev/build_release.py
Owners: none

Add explicit output check to subprocess.run call in update_version.bump_version
  scripts/dev/update_version.py
Owners: none

Make update_version.py 'bump' command-line arg mandatory
  scripts/dev/update_version.py
Owners: none

Add MacStadium to README
  .github/img/macstadium.png
  README.asciidoc
Owners: none

Remove update_version.py from build_release.py pipeline
  scripts/dev/build_release.py
Owners: none

Update qutebrowser release pipeline in contributing.asciidoc
  doc/contributing.asciidoc
Owners: none

Add more issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATES/1_Bug_report.md
  .github/ISSUE_TEMPLATES/2_Feature_request.md
  .github/ISSUE_TEMPLATES/3_Support_question.md
  .github/ISSUE_TEMPLATES/4_Security_issue.md
Owners: none

Link to full contribution guides
  .github/CONTRIBUTING.asciidoc
Owners: none

Add PR notices
  .github/CONTRIBUTING.asciidoc
  doc/contributing.asciidoc
Owners: none

Fix folder name
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Feature_request.md
  .github/ISSUE_TEMPLATE/3_Support_question.md
  .github/ISSUE_TEMPLATE/4_Security_issue.md
Owners: none

NSIS: fix uninstaller check
  misc/nsis/install.nsh
Owners: none

Use pytest.mark.fake_os
  tests/unit/browser/webkit/test_downloads.py
  tests/unit/utils/test_utils.py
Owners: none

Fix download filename tests
  tests/unit/browser/webkit/test_downloads.py
  tests/unit/utils/test_utils.py
Owners: none

Skip POSIX escaping test on Windows
  tests/unit/browser/webkit/test_downloads.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Add error handling for invalid selectors
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/hints.py
  qutebrowser/browser/navigate.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/javascript/webelem.js
  tests/end2end/features/hints.feature
  tests/end2end/features/navigate.feature
Owners: none

Add webelem.css_selector
  qutebrowser/browser/hints.py
  qutebrowser/browser/navigate.py
  qutebrowser/browser/webelem.py
  tests/end2end/features/hints.feature
  tests/end2end/features/navigate.feature
Owners: none

Don't allow to set hints.selectors in autoconfig.yml
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
  tests/end2end/features/hints.feature
  tests/end2end/features/javascript.feature
  tests/end2end/fixtures/quteprocess.py
Owners: @mschilli87

Add tabindex to default 'all' selector
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
  tests/unit/browser/webkit/test_webkitelem.py
Owners: @mschilli87

Update wheel from 0.32.0 to 0.32.1
  misc/requirements/requirements-pip.txt
Owners: none

Update hypothesis from 3.74.0 to 3.74.3
  misc/requirements/requirements-tests.txt
Owners: none

Update parse from 1.8.4 to 1.9.0
  misc/requirements/requirements-tests.txt
Owners: none

Update pytest-rerunfailures from 4.1 to 4.2
  misc/requirements/requirements-tests.txt
Owners: none

Update toml from 0.9.6 to 0.10.0
  misc/requirements/requirements-tox.txt
Owners: none

Update tox from 3.4.0 to 3.5.1
  misc/requirements/requirements-tox.txt
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/commands.asciidoc
  qutebrowser/browser/hints.py
Owners: none

Remove mkvenv-pypi-old
  doc/install.asciidoc
  tox.ini
Owners: none

Improve contributing.asciidoc and return git release tag from update_version.py
  doc/contributing.asciidoc
  scripts/dev/update_version.py
Owners: none

Remove TextBase.setText workaround
  qutebrowser/mainwindow/statusbar/textbase.py
Owners: none

Adjust workaround comment
  qutebrowser/utils/standarddir.py
Owners: none

Update changelog for v1.5.1
  doc/changelog.asciidoc
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
