Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Remove old qute_backend_warning
  qutebrowser/browser/qutescheme.py
Owners: none

Add warnings for QtWebKit and old Qt
  doc/changelog.asciidoc
  qutebrowser/app.py
  qutebrowser/browser/qutescheme.py
  qutebrowser/html/styled.html
  qutebrowser/html/warning-old-qt.html
  qutebrowser/html/warning-webkit.html
Owners: none

Add QtWebKit warning to backendproblem dialogs
  qutebrowser/misc/backendproblem.py
Owners: none

Also style h2 in styled.html
  qutebrowser/html/styled.html
Owners: none

Remove wrong gitignore line
  .gitignore
Owners: none

Use always/never instead of force-on/force-off
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
  qutebrowser/config/configinit.py
  tests/unit/config/test_configinit.py
Owners: @mschilli87

Don't open any error pages in test_invocations
  tests/end2end/test_invocations.py
Owners: none

Renamed is_whitelisted_host to is_whitelisted_url, removed unused try block
  qutebrowser/browser/adblock.py
Owners: none

Reworded docs in whitelist config setting
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Added case for whitelisted url with * wildcard
  tests/unit/browser/test_adblock.py
Owners: none

Fix lint
  qutebrowser/browser/adblock.py
Owners: none

Make some stuff in adblock.py private
  qutebrowser/browser/adblock.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
Owners: none

Clean up completiondelegate tests.
  tests/unit/completion/test_completiondelegate.py
Owners: @rcorre

build_release: Run smoke tests before building installers
  scripts/dev/build_release.py
Owners: none

build_release: Add --no-asciidoc
  scripts/dev/build_release.py
Owners: none

build_release: Remove patch_windows
  scripts/dev/build_release.py
Owners: none

build_release: Fix running with --no-asciidoc
  scripts/dev/build_release.py
Owners: none

Add bindings to toggle content.images
  qutebrowser/config/configdata.yml
Owners: @mschilli87

build_release: Set exist_ok
  scripts/dev/build_release.py
Owners: none

Do exist_ok at the right place...
  scripts/dev/build_release.py
Owners: none

Fix appending text
  doc/changelog.asciidoc
  qutebrowser/misc/backendproblem.py
Owners: none

Add bubbles, cancelable, and composed options to dispatch_event
  qutebrowser/browser/commands.py
  qutebrowser/browser/webelem.py
  qutebrowser/browser/webengine/webengineelem.py
  qutebrowser/browser/webkit/webkitelem.py
  qutebrowser/javascript/.eslintrc.yaml
  qutebrowser/javascript/caret.js
  qutebrowser/javascript/webelem.js
Owners: @artur-shaik

Add adblock import directory unit test
  qutebrowser/browser/adblock.py
  tests/unit/browser/test_adblock.py
Owners: none

ci dumb
  tests/unit/browser/test_adblock.py
Owners: none

blah
  tests/unit/browser/test_adblock.py
Owners: none

fix auto merge problem
  qutebrowser/browser/adblock.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
Owners: none

Create clear_pinned_statistics slot
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Prevent division by zero crashes if there is a bug
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Make convert_js_arg public and use it for dispatch_element in webkit
  qutebrowser/browser/webengine/webengineelem.py
  qutebrowser/browser/webkit/webkitelem.py
  qutebrowser/utils/javascript.py
  tests/unit/utils/test_javascript.py
Owners: none

Use qt to equally size tabs
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Don't use key_mappings when passing keys
  qutebrowser/keyinput/modeparsers.py
Owners: none

Pass broken keychains to browser in passthrough modes
  qutebrowser/keyinput/modeparsers.py
Owners: none

Use ignore_event attribute on events
  qutebrowser/keyinput/modeparsers.py
Owners: none

tabbedbrowser.py: Change Suspended tab indicator color
  qutebrowser/config/configdata.yml
  qutebrowser/mainwindow/tabbedbrowser.py
Owners: @mschilli87

Only repaint tabs when they are needed
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Respect input.partial_timeout in all modes
  qutebrowser/keyinput/basekeyparser.py
  qutebrowser/keyinput/modeparsers.py
Owners: none

Stop and disconnect input.partial_timeout
  qutebrowser/keyinput/basekeyparser.py
  qutebrowser/keyinput/modeparsers.py
Owners: none

Make convert_js_arg public and use it for dispatch_element in webkit
  qutebrowser/browser/webengine/webengineelem.py
  qutebrowser/browser/webkit/webkitelem.py
  qutebrowser/javascript/webelem.js
  qutebrowser/utils/javascript.py
  tests/unit/utils/test_javascript.py
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
