Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Add TabBar._widget()
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Don't use tab data for indicator colors
  qutebrowser/browser/browsertab.py
  qutebrowser/mainwindow/tabbedbrowser.py
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Get rid of tab_data entirely
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Use wait argument with qtbot.assert_not_emitted
  tests/unit/browser/test_caret.py
Owners: none

Use qtbot.wait_callback
  tests/helpers/fixtures.py
  tests/helpers/utils.py
  tests/unit/browser/test_caret.py
  tests/unit/javascript/conftest.py
  tests/unit/javascript/position_caret/test_position_caret.py
  tests/unit/javascript/test_greasemonkey.py
  tests/unit/javascript/test_js_execution.py
Owners: none

Add VVimpulation to similar projects
  README.asciidoc
Owners: none

Add __repr__() to configtypes
  qutebrowser/config/configtypes.py
Owners: none

Fix lint
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Prevent deprecation warnings in regex
  qutebrowser/config/configtypes.py
Owners: none

Update dependencies in README
  README.asciidoc
Owners: none

Add tabs.max_width setting
  qutebrowser/config/configdata.yml
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: @mschilli87

Use callback.assert_called_with()
  misc/requirements/requirements-tests.txt
  tests/unit/browser/test_caret.py
  tests/unit/javascript/conftest.py
  tests/unit/javascript/position_caret/test_position_caret.py
  tests/unit/javascript/test_greasemonkey.py
  tests/unit/javascript/test_js_execution.py
Owners: none

Fix lint
  tests/helpers/fixtures.py
  tests/helpers/utils.py
  tests/unit/browser/test_caret.py
  tests/unit/javascript/conftest.py
  tests/unit/javascript/position_caret/test_position_caret.py
Owners: none

Adjust dates in _chromium_version
  qutebrowser/utils/version.py
Owners: none

Refactor JS escaping
  qutebrowser/browser/pdfjs.py
  qutebrowser/browser/webkit/webkitelem.py
  qutebrowser/utils/javascript.py
  tests/unit/browser/test_pdfjs.py
  tests/unit/javascript/stylesheet/test_stylesheet.py
  tests/unit/utils/test_javascript.py
Owners: none

Update docs
  doc/changelog.asciidoc
  qutebrowser/browser/webelem.py
Owners: none

Sort settings page by name
  qutebrowser/html/settings.html
Owners: none

Add :prompt-open-download --pdfjs
  doc/changelog.asciidoc
  qutebrowser/config/configdata.yml
  qutebrowser/mainwindow/prompt.py
Owners: @mschilli87

Add zoom, zoom-in and zoom-out --quiet option support.
  doc/help/commands.asciidoc
  qutebrowser/browser/commands.py
Owners: none

Fix webkitelem tests
  tests/unit/browser/webkit/test_webkitelem.py
Owners: none

Get rid of tab_data entirely
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Add TabBar._widget()
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Refactor title handling
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/commands.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webkit/webkittab.py
  qutebrowser/completion/models/miscmodels.py
  qutebrowser/mainwindow/tabbedbrowser.py
  qutebrowser/mainwindow/tabwidget.py
  qutebrowser/misc/sessions.py
  tests/helpers/stubs.py
Owners: @rcorre

Fix lint
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Don't use tab data for indicator colors
  qutebrowser/browser/browsertab.py
  qutebrowser/mainwindow/tabbedbrowser.py
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Fix title handling issues
  qutebrowser/browser/browsertab.py
Owners: none

Also try requested URL
  qutebrowser/browser/browsertab.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Fix lint
  .pylintrc
Owners: none

Rebuild docs
  doc/help/commands.asciidoc
  doc/help/settings.asciidoc
Owners: none

Clean up tab min/max width tests
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Fix tabwidget tests
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Turn off visibility of tabs while updating titles
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Move tabbedbrowser test to tabwidget
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Move tabbedbrowser test to tabwidget
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Improve functions' documentation.
  qutebrowser/browser/commands.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/commands.asciidoc
Owners: none

Remove unneeded decorators
  qutebrowser/browser/commands.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
Owners: none

Don't touch mute status after the user changed it
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/commands.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webkit/webkittab.py
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
