Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

Update changelog
  doc/changelog.asciidoc
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configtypes.py
Owners: none

Fix lint
  tests/unit/config/test_configtypes.py
Owners: none

Add yank --quiet option support.
  doc/help/commands.asciidoc
  qutebrowser/browser/commands.py
Owners: none

fix some lint issues
  qutebrowser/browser/webengine/split_inspector.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webengine/webview.py
Owners: none

New config: More powerful :config- commands: add #4283
  qutebrowser/completion/models/configmodel.py
  qutebrowser/config/configcommands.py
  tests/unit/config/test_configcommands.py
Owners: @rcorre

Fix issues with PDF.js path changes
  qutebrowser/browser/pdfjs.py
  tests/end2end/features/conftest.py
  tests/unit/browser/test_pdfjs.py
  tests/unit/browser/test_qutescheme.py
Owners: none

Fix issues with PDF.js path changes
  qutebrowser/browser/pdfjs.py
  tests/end2end/features/conftest.py
  tests/unit/browser/test_pdfjs.py
  tests/unit/browser/test_qutescheme.py
Owners: none

Fix and test remaining PDF.js OSError issues
  qutebrowser/browser/pdfjs.py
  tests/unit/browser/test_pdfjs.py
Owners: none

Fix and test remaining PDF.js OSError issues
  qutebrowser/browser/pdfjs.py
  tests/unit/browser/test_pdfjs.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/commands.asciidoc
  qutebrowser/browser/commands.py
Owners: none

Add test for :yank --quiet
  tests/end2end/features/yankpaste.feature
Owners: none

Add tests for :zoom-* with --quiet
  tests/end2end/features/zoom.feature
Owners: none

Fix lint
  tests/unit/browser/test_pdfjs.py
Owners: none

Fix lint
  tests/unit/browser/test_pdfjs.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Make :q only close the active window
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Fix getting searchengines in URL model
  qutebrowser/completion/models/urlmodel.py
Owners: @rcorre

Fix lint
  misc/requirements/requirements-pylint.txt
  qutebrowser/completion/models/urlmodel.py
  tests/helpers/stubs.py
  tests/unit/completion/test_models.py
Owners: @rcorre

Get rid of data_display_may_return_none
  tests/helpers/fixtures.py
  tests/unit/completion/test_models.py
Owners: @rcorre

Update changelog
  doc/changelog.asciidoc
Owners: none

Fix passing filename to GreasemonkeyScript
  qutebrowser/browser/greasemonkey.py
Owners: none

Use a real webengine_tab for TestWebengineScripts
  tests/unit/browser/webengine/test_webenginetab.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Handle invalid QUrl objects in HostBlocker.is_blocked
  qutebrowser/browser/adblock.py
Owners: none

Add test for per-domain content.host_blocking_enabled
  tests/unit/browser/test_adblock.py
Owners: none

Fix tabs appearing when updating all tab titles
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Make completion highlighting case-insensitive again
  qutebrowser/completion/completiondelegate.py
  tests/unit/completion/test_completiondelegate.py
Owners: @rcorre

Update changelog
  doc/changelog.asciidoc
Owners: none

Revert "Update changelog"
  doc/changelog.asciidoc
Owners: none

NSIS: delete reg when upgrating but changing context
  misc/nsis/install.nsh
Owners: none

NSIS: don't use UPX by default
  misc/nsis/qutebrowser.nsi
Owners: none

NSIS: register PDF support
  misc/nsis/install.nsh
  misc/nsis/uninstall.nsh
Owners: none

NSIS: expand Shortcuts group
  misc/nsis/install.nsh
Owners: none

NSIS: don't write properties, safemode reg keys
  misc/nsis/install.nsh
  misc/nsis/qutebrowser.nsi
Owners: none

Simplify :jseval tests
  tests/end2end/features/misc.feature
Owners: none

Remove unused imports
  tests/unit/browser/webengine/test_webenginetab.py
Owners: none

Decrease num_tabs for test_add_remove_tab_benchmark
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Fix tabs appearing when updating all tab titles
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik
