Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik

Update mute status if content.mute was changed
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

configtypes: Be more explicit about None-values
  qutebrowser/config/configtypes.py
Owners: none

Allow fallback=False with config.get/get_obj
  qutebrowser/config/config.py
  qutebrowser/config/configtypes.py
  tests/unit/config/test_config.py
  tests/unit/config/test_configtypes.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
Owners: none

Improve content.mute docs
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Only update stylesheet if we actually had a search
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

Fix lint
  qutebrowser/browser/shared.py
  qutebrowser/config/configfiles.py
Owners: none

Use when-searching, not when_searching
  qutebrowser/browser/shared.py
  qutebrowser/config/configdata.yml
  qutebrowser/config/configfiles.py
Owners: @mschilli87

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Use signals instead of making scripts public
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webkit/webkittab.py
Owners: none

Make tab attributes more consistent
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webkit/webkittab.py
Owners: none

Minor requested changes
  qutebrowser/browser/adblock.py
  tests/unit/browser/test_adblock.py
Owners: none

Prevent deprecation warnings in regex
  qutebrowser/config/configtypes.py
Owners: none

Add __repr__() to configtypes
  qutebrowser/config/configtypes.py
Owners: none

Only apply visibility toggle if we have >10 tabs
  qutebrowser/mainwindow/tabwidget.py
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Repeat last run macro with @@
  doc/changelog.asciidoc
  qutebrowser/keyinput/macros.py
Owners: none

Show errors on invalid --mode argument for :hint
  doc/changelog.asciidoc
  qutebrowser/browser/hints.py
  tests/end2end/features/hints.feature
Owners: none

Modifications after CR in PR #4260
  qutebrowser/config/configtypes.py
Owners: none

FAQ: Update mailcap answer
  doc/faq.asciidoc
Owners: none

FAQ: Add MacOS PATH info to Troubleshooting
  doc/faq.asciidoc
Owners: none

Simplify toggle_visibility
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Rename variable
  qutebrowser/browser/adblock.py
Owners: none

Update docs
  doc/changelog.asciidoc
  doc/help/settings.asciidoc
  qutebrowser/config/configdata.yml
Owners: @mschilli87

Fix _is_pinned() during init
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Ignore click events with invalid positions
  doc/changelog.asciidoc
  qutebrowser/browser/mouse.py
  qutebrowser/browser/webengine/webenginetab.py
Owners: none

Remove remaining **kwargs and wrap code correctly
  qutebrowser/config/configtypes.py
Owners: none

Select text node in tests to imitate real selections
  qutebrowser/javascript/webelem.js
  tests/end2end/data/search_select.js
Owners: none

Add :tab-{give,take} --keep
  doc/changelog.asciidoc
  doc/help/commands.asciidoc
  qutebrowser/browser/commands.py
Owners: none

Update packaging from 17.1 to 18.0
  misc/requirements/requirements-pip.txt
Owners: none

Update pyparsing from 2.2.1 to 2.2.2
  misc/requirements/requirements-pip.txt
Owners: none

Update wheel from 0.31.1 to 0.32.0
  misc/requirements/requirements-pip.txt
Owners: none

Update click from 6.7 to 7.0
  misc/requirements/requirements-tests.txt
Owners: none

Update hypothesis from 3.73.0 to 3.74.0
  misc/requirements/requirements-tests.txt
Owners: none

Fix lint
  qutebrowser/browser/commands.py
Owners: none

Cosmetic fixes
  qutebrowser/config/websettings.py
  qutebrowser/mainwindow/mainwindow.py
Owners: none

Fix url available to :navigate (strip query)
  qutebrowser/browser/commands.py
Owners: none

New config: More powerful :config- commands: add
  qutebrowser/completion/models/configmodel.py
  qutebrowser/config/configcommands.py
Owners: @rcorre

Re-break lines
  qutebrowser/browser/commands.py
Owners: none

Update changelog
  doc/changelog.asciidoc
Owners: none

Add test
  tests/end2end/features/navigate.feature
Owners: none
