Repository qutebrowser/qutebrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcorre, @mschilli87, @artur-shaik

.github/CODEOWNERS:

qutebrowser/browser/history.py  @rcorre
qutebrowser/completion/**  @rcorre
qutebrowser/misc/sql.py  @rcorre
tests/end2end/features/completion.feature  @rcorre
tests/end2end/features/test_completion_bdd.py  @rcorre
tests/unit/browser/test_history.py  @rcorre
tests/unit/completion/*  @rcorre
tests/unit/misc/test_sql.py  @rcorre

qutebrowser/config/configdata.yml  @mschilli87

qutebrowser/javascript/caret.js @artur-shaik

Use develop branch of PyInstaller again
  misc/requirements/requirements-pyinstaller.txt
  misc/requirements/requirements-pyinstaller.txt-raw
Owners: none

Remove most macOS patching
  scripts/dev/build_release.py
Owners: none

Fix shutil call in update_3rdparty.py
  scripts/dev/update_3rdparty.py
Owners: none

Use QSyntaxHighlighter for completion.
  qutebrowser/app.py
  qutebrowser/completion/completiondelegate.py
  tests/unit/completion/test_completiondelegate.py
Owners: @rcorre

build_release: Patch macOS app to save some space
  scripts/dev/build_release.py
Owners: none

Handle empty session files gracefully
  doc/changelog.asciidoc
  qutebrowser/misc/sessions.py
Owners: none

Make sure PDF.js doesn't try to use the Fetch API
  qutebrowser/browser/pdfjs.py
Owners: none

Add compatibility with PDF.js v2.x
  qutebrowser/browser/pdfjs.py
Owners: none

Fix PDFJS/qutescheme end2end tests
  qutebrowser/utils/log.py
  tests/end2end/features/downloads.feature
  tests/end2end/features/qutescheme.feature
  tests/end2end/fixtures/quteprocess.py
Owners: none

Fix wrong signal order in test_question
  tests/unit/utils/usertypes/test_question.py
Owners: none

Change commands.py document generator
  doc/help/commands.asciidoc
  qutebrowser/browser/commands.py
Owners: none

Add benchmark for _tab_pinned
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Get pinned status from parent
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Avoid calls to minTabSizeHint in tabSizeHint
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Get pinned status from parent
  qutebrowser/mainwindow/tabwidget.py
Owners: none

Qt 5.12: Ignore new warnings from in_progress_cache_impl.cc
  tests/end2end/fixtures/quteprocess.py
Owners: none

Compare strings in mhtml tests
  tests/end2end/test_mhtml_e2e.py
Owners: none

Normalize mhtml for Qt 5.12
  tests/end2end/test_mhtml_e2e.py
Owners: none

Fix tab_focus_last behaviour with :tab-focus -1
  qutebrowser/browser/commands.py
Owners: none

Ignore another Chromium error
  tests/end2end/fixtures/quteprocess.py
Owners: none

Fix lint
  scripts/dev/build_release.py
Owners: none

Re-add PDF.js download to build_release.py
  scripts/dev/build_release.py
Owners: none

Always open PDF.js tabs in foreground
  qutebrowser/browser/downloads.py
Owners: none

Add delay after zooming
  tests/end2end/features/scroll.feature
Owners: none

Disable SSL download test on Qt 5.11.2
  tests/end2end/features/downloads.feature
Owners: none

Remove dead CaretBrowsing code
  qutebrowser/javascript/caret.js
Owners: @artur-shaik

caret: Don't turn on animation repeatedly
  qutebrowser/javascript/caret.js
Owners: @artur-shaik

Auto-remove PDF.js downloads
  qutebrowser/browser/webengine/webenginedownloads.py
  qutebrowser/browser/webkit/webpage.py
Owners: none

Update pyparsing from 2.2.0 to 2.2.1
  misc/requirements/requirements-pip.txt
Owners: none

Update setuptools from 40.3.0 to 40.4.3
  misc/requirements/requirements-pip.txt
Owners: none

Update pycparser from 2.18 to 2.19
  misc/requirements/requirements-pylint.txt
Owners: none

Update hypothesis from 3.71.8 to 3.73.0
  misc/requirements/requirements-tests.txt
Owners: none

Update pytest-qt from 3.0.2 to 3.1.0
  misc/requirements/requirements-tests.txt
Owners: none

Update tox from 3.3.0 to 3.4.0
  misc/requirements/requirements-tox.txt
Owners: none

Add messages.level configuration property support.
  qutebrowser/config/configdata.yml
  qutebrowser/mainwindow/messageview.py
  qutebrowser/utils/usertypes.py
  tests/unit/mainwindow/test_messageview.py
Owners: @mschilli87

Pass through Ctrl+Mousewheel in passthrough mode
  doc/changelog.asciidoc
  qutebrowser/browser/mouse.py
Owners: none

Update Chromium version overview
  qutebrowser/utils/version.py
Owners: none

Skip visible/invisible test on Windows
  tests/end2end/features/javascript.feature
Owners: none

Fix lint
  tests/unit/mainwindow/test_tabwidget.py
Owners: none

Refactor title handling
  qutebrowser/browser/browsertab.py
  qutebrowser/browser/commands.py
  qutebrowser/browser/webengine/webenginetab.py
  qutebrowser/browser/webkit/webkittab.py
  qutebrowser/completion/models/miscmodels.py
  qutebrowser/mainwindow/tabbedbrowser.py
  qutebrowser/mainwindow/tabwidget.py
  qutebrowser/misc/sessions.py
  tests/helpers/stubs.py
Owners: @rcorre
